{% extends 'base.html.twig' %}

{% block title %}Mon compte - UpServe{% endblock %}

{% block section %}
<h1>Mon compte<br/></h1>
    Bienvenue {{ app.user.fullname }} dans votre compte. C'est dans cet espace vous allez pouvoir gérer toutes vos informations personnelles

{% endblock %}
