{% extends 'base.html.twig' %}

{% block sidebar %}

{% endblock %}

{% block footer %}

{% endblock %}
{% block header %}

{% endblock %}

{% block section  %}
<h1>Inscription</h1>
   {{ form(form) }}
{% endblock %}